:root {
  /* Colors */
  --neutral-red: #f21;
  --normal-red-5: #da1300;
  --normal-red-10: #fc3522;
  --dark-red-10: #b10;
  --dark-green-10: #051;
  --dark-green-20: #172;
  --normal-yellow-10: #eaea11;
  --dark-yellow-10: #a6a600;
  --normal-orange-10: #f70;
  --dark-orange-10: #c50;
  --dark-gray-main: #161616;
  --dark-gray-sidebar: #1f1f1f;
  --gray-border-10: #333;
  --dark-blue-10: #0a141e;
  --light-gray-10: #efefef;

  --color-transition-animation-duration: .2s;
}