.main_title {
  text-align: center;
}

.subtitle {
  text-align: center;
  font-weight: normal;
  padding: 0 10px;
}

.gallery_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 15px 15px 15px;
}

.tags_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.tag_item {
  border: solid 3px var(--gray-border-10);
  padding: 5px 10px;
}